.searchPendencias{
    max-width: 700px;
    margin: 20px auto;

    .row-filters{
        margin-bottom: 20px;

        .col-md-5{
            padding-right: 0;
        }

    }

    .btn-success{
        width: 100%;
    }
    
    .fix-row{
        margin: 0;
    }

    .table-pendencias{
        margin: 0 auto;
    }
}