.searchPendencias{
    max-width: 800px;
    margin: 20px auto;

    .row-filters{
        margin-bottom: 20px;

        .col-md-5{
            padding-right: 0;
        }

    }
    .fix-row{
        margin: 0;
    }

    .col-buttons{
        button, a{
            width: 100%;

            &.btn-search{
                max-width: 68px;
                margin-right: 10px;
            }
 
            &.btn-add{
                max-width: 92px;
            }
        }
    }

    .table-pendencias{
        margin: 0 auto;
    }
}